.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px 25px;
    align-items: center;
    &_redesSociales{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 25px 25px;
        gap: 24px;
        
    }
    &__direccion{
        font-size: clamp(20px,5vw, 30px);
    }
}
.redesSociales{
    &__icono{
    
            font-size: clamp(20px, 5vw, 30px);
       
    }
}
.icono{
    &__link{
        text-decoration: none;
        
    }
}
